body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:70%;
	line-height:1.6em;
	margin:0;
}

.menu 
{ 
   display: none; 
} 

.menu-button{	
	z-index:1;
	position:fixed;
	border:0;
	min-width: 25px;
	height: 2vw;
	min-height: 15px;
	top:10vw;
	right:0vw;
	font-size:0.8vw;
	color:#FFE4E1;
	background-color:#FFF5EE;
	padding:0.5em 1em;
	line-height:1em;
	align-items: center;
	text-decoration:none;
	flex-wrap: nowrap;
}

.menu-button:focus{
	outline:none;
}

.menu{
	display: none;
	width:10vw;
	height:20vw;
	z-index:1;
	position:fixed;
	top:15vw;
	right:1em;
	font-size:2vw;
	flex-direction: column;
	align-items: center;
}

.filter{
	height:80%;
	width:100%;
	border: 0.3em ridge #79489C;
	padding: 0 5%;
	color:#79489C;
	background-color:#FFFFE0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.filter div{
	width:90%;
	height:25%;
	margin: auto;
	padding-top: 10%;
	font-size:0.6em;
	line-height: 1.3em;
	display: flex;
	flex-direction: column;
}

.filter input{
	width:90%;
	height:50%;
	margin: 0 auto;
}

.filter button{
	border:0;
	border-radius:5em;
	font-weight:bold;
	font-size:1.2em;
	height:1.7em;
	line-height:1em;
	color:#E0EB1A;
	background-color:#79489C;
	width:70%;
	margin:auto 15%;
}

.filter button:focus{
	outline:none;
}
.filter button:active{
	background-color:#9370DB;
}

.filter img{
	display:block;
	width:1em;
	height:1em;
	margin:auto;
}

.buttonAdd{
	height:15%;
	width: 70%;
	margin-top: 0.5em;
}

.buttonAdd button{
	border: 0;
	height:100%;
	width:100%;
	border-radius:5em;
	font-weight: bold;
	font-size:1.5em;
	line-height:0.7em;
	color:#E0EB1A;
	background-color:#79489C;
}

.buttonAdd button:focus{
	outline:none;
}
.buttonAdd button:active{
	background-color:#9370DB;
}

#main-header{
	font-family:Monotype Corsiva, Cursive;
	background-color:#79489C;
	color:#E0EB1A;
	font-size:2vw;
	margin-bottom:5em;
	overflow:hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.LogoName{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	font-size:0.8em;
}

.Logo{
	margin:auto 1em;
}

.Logo img{
	display:block;
	width:3em;
	height:3em;
}

.UserLogoName{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	margin-right:9em;
	font-size:1.2em;
}

.UserLogo{
	display: none;
	margin:auto 2em;
}

.UserLogo img{
	display:block;
	border-radius:2em;
	width:1.8em;
	height:1.8em;
}

.UserName{
	margin: auto;
}

.SignIn{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 1em;
}

.buttonSignin {
	border: 0;
	border-radius:5em;
	font-family:Monotype Corsiva, Cursive;
	font-weight: bold;
	font-size:0.7em;
	width: 100%;
	height: 1em;
	line-height:1em;
	color:#E0EB1A;
	background-color:#79489C;
}

.buttonSignin:focus{
	outline:none;
}

.buttonSignin:active{
	text-decoration: underline;
}

.container{
	width:40vw;
	margin: 50px auto;
	overflow:hidden;
	font-size: 1.2vw;
}

.NameDate{
	position:relative;
	color:#E0EB1A;
	background-color: #79489C;
	padding-top:0.5em;
	padding-bottom:0.5em;
}

.NameDate div{
	vertical-align:middle;
	display:inline-block;
}

.AuthorLogoName{
	white-space:nowrap;
	max-width: 50%;
	overflow:hidden;
}

.AuthorLogoName div{
	vertical-align:middle;
}

.AuthorLogo img{
	display:block;
	border-radius:50%;
	width:3.5em;
	max-width:80%;
	height:3.5em;
	max-height:80%;
	margin:0 1.5em;
}

.AuthorName{
	font-size: 1.1em;
    line-height:1.1em;
    max-width: 60%;
    white-space:pre-wrap;
}

.Date{
	margin-left: 7%;
	font-size: 1.1em;
}

.EditDeleteButtons div{
	display:block;
}

.EditDeleteButtons {
	position:absolute;
	top:0;
	right:0;
	height:100%;
}

.buttonEdit{
	height: 50%;
}

.buttonEdit button{
	/*display: none;*/
	border: 0;
	font-weight: bold; 
	width: 2em;
	height:100%;
	line-height:1em;
	font-size: 2em;
	color:#E0EB1A;
	background-color:#79489C;
}

.buttonEdit button:focus{
	outline:none;
}
.buttonEdit button:active{
	background-color:#9370DB;
}

.buttonDelete{
	height: 50%;
}

.buttonDelete button{
	/*display: none;*/
	border: 0;
	font-weight: bold; 
	width: 2em;
	height:100%;
	line-height:1em;
	font-size: 2em;
	color:#E0EB1A;
	background-color:#79489C;
}

.buttonDelete button:focus{
	outline:none;
}
.buttonDelete button:active{
	background-color:#9370DB;
}

.Hash{
	max-height:9em;
	padding: 0 1em;
	color:#79489C;
	background-color:#E3F5C6;
	font-size: 1em;
	line-height:1em;
	overflow:hidden;
}

.Hash:hover{
	max-height:none;
}

.Photo img{
	display:block;
	width:100%;
	height:auto;
	max-height:100vh;
}

.Like{
	height:2em;
	background-color:#79489C;
	display: flex;
	flex-direction: row-reverse;
}

.buttonLike button{
	border: 0;
	font-weight: bold;
	font-size: 2em;
	width: 2.2em;
	height: 100%;
	line-height:1em;
	color:#E0EB1A;
	background-color:#79489C;
}

.buttonLike button:focus{
	outline:none;
}

.buttonLike button:active{
	background-color:#9370DB;
}

.NumofLikes{
	font-size: 1em;
	line-height:1em;
	color:#E0EB1A;
	margin-right: 1em;
	display: flex;
	align-items: center;
}

.buttonAddMore{
	width:10%;
	margin: 5em auto;
	font-size:1.5vw;
}

.buttonAddMore button{
	border: 0;
	border-radius: 5em;
	font-weight: bold; 
	font-size:100%;
	width: 100%;
	height:2em;
	line-height:1em;
	color:#E0EB1A;
	background-color:#79489C;
}

.buttonAddMore button:focus{
	outline:none;
}
.buttonAddMore button:active{
	background-color:#9370DB;
}

#main-footer{
	background-color:#79489C;
	color:#E0EB1A;
	font-size:1vw;
	line-height:0.7em;
	text-align:center;
	padding:5px;
}

.Login{
	font-family:Monotype Corsiva, Cursive;
	background-image:url('photos/Wind.jpg');
	background-position:center;
	color:#E0EB1A;
	font-size:2vw;
	overflow:hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	height: 90.7vh;
	min-height: 90.7vh;
}

.LogoNameforLogin{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	font-size:2em;
	margin-top: 15%;
}

.LogoforLogin{
	margin-right: 0.5em;
}

.LogoforLogin img{
	display:block;
	width:2em;
	height:2em;
}

.Fields{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	font-size:3em;
	margin-bottom: 20%;
}

#edit{
	display: none;
}

.Main{

}

.Login{
	display: none;
}
